.mhc-page-header-container {
  padding: 2rem;
  background: #f7f8f9;
  border-radius: 8px;
  text-align: center;
}

.mhc-page-header-headline {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #000 !important;
}

.mhc-page-header-paragraph {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}
