@import url('https://use.typekit.net/vsp8hxh.css');

$blue: #1071BE;
$primary: #1071BE;

@import "../clay-css/src/scss/atlas.scss";

body {
  font-family: "Aller", Arial, Helvetica, sans-serif;
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
}

h1, h2, h3, h4, h5, h6 {
  color: $blue !important;
}
